@model GivingBack2.ViewModels.ChooseCategoryViewModel

@{
	ViewBag.Title = "ChooseCategory";
}

<div style="font-family:Segoe UI">

	<div class="help-block">
		<h3>You chose to help @ViewBag.SelectedCategoryName <br /> </h3>
	</div>

	@using (Html.BeginForm("SpecifyParameters", "Home", FormMethod.Post))
	{
		<div class="row">
			<div class="col-md-4">
				<h2>How do you want to help? </h2>
				<p>
					<div class="form-group">
						<div class="radio">
							@Html.RadioButtonFor(m => m.SelectedResource, 1)
							@Html.LabelFor(m => m.MoneyResourceType)
						</div>
					</div>

					<div class="form-group">
						<div class="radio">
							@Html.RadioButtonFor(m => m.SelectedResource, 2)
							@Html.LabelFor(m => m.TimeResourceType)
						</div>
					</div>

					<div class="form-group">
						<div class="radio">
							@Html.RadioButtonFor(m => m.SelectedResource, 3)
							@Html.LabelFor(m => m.ProductResourceType)
						</div>
					</div>

					@Html.TextBoxFor(m => m.SelectedCategoryId, new { @style = "display:none" })
				</p>
			</div>
		</div>
		<input type="submit" value="Submit" />
	}
</div>
