@model IEnumerable<GivingBack2.ViewModels.MappedRequirementViewModel>

@{
    ViewBag.Title = "RequirementsPage";
}

<div style="font-family:Segoe UI">
	<div class="badge">
		<h3>If you want to help <a href="/Home">@ViewBag.SelectedCategoryName</a> by donating <a href="/Home/ChooseCategory">@ViewBag.ResourceType</a> <br /> </h3>
	</div>
	<div class="">
		<h2>Please find the top Organizations whom you can reach out to</h2>
		<p>
			<div style="font-family:Segoe UI">
				@using (Html.BeginForm("Results", "Home", FormMethod.Post))
				{
					<table id="OrganizationTable" border="2">
						<thead>
							<tr>
								<th>OrganizationName</th>
								<th>Purpose of Program</th>
								<th>Amount Needs of Organization</th>
								<th>Contribute!!</th>
							</tr>
						</thead>
						<tbody>

							@foreach(var item in Model)
							{
								<tr>
									<td>@Html.Label(@item.OrganizationName) @Html.Hidden("Name", @item.OrganizationName + "Contribute")</td>
									<td>@Html.Label(@item.ProgramDescription)</td>
									<td>@Html.Label(@item.AmountNeedForOrg.ToString())</td>
									<td><input type="submit" value="Contribute" /></td>
								</tr>
							}
						</tbody>
						<!--Add footer for totals-->
					</table>					
				}
		</p>

	</div>
</div>

