@model GivingBack2.ViewModels.MappedRequirementViewModel

@{
	ViewBag.Title = "Results";
}

<div style="font-family:Segoe UI">
	<div class="badge">
		<h4>
		@using (Html.BeginForm("Index", "Home", FormMethod.Post))
		{
			if (Model.resultsFound == false)
			{
				@Html.DisplayName("Sorry. No results found. Please try again!!");
			}
			else
			{
				
			if (TempData["msg"] != null)
			{
				
					<script>
						alert(TempData["msg"]);
					</script>
			
				Response.Redirect(Model.OrgUrl);
			}
						
				else
				{
					if (Model.SelectedResource == GivingBack2.Models.ResourceTypes.Money)
					{
				@Html.DisplayName("You have contributed your " + Model.SelectedResource.ToString());
				@Html.DisplayName("\n of currency " + Model.DonationAmount);
				@Html.DisplayName("\n for helping the" + Model.SelectedCategoryName);
				@Html.DisplayName("\n by selecting the Organization " + Model.OrganizationName);
				@Html.DisplayName("\n Thanks !!");
					}
					else if (Model.SelectedResource == GivingBack2.Models.ResourceTypes.Product)
					{
				@Html.DisplayName("You have contributed your product \"" + Model.ProductName.ToString() + "\"");
				@Html.DisplayName("\n for helping the " + Model.SelectedCategoryName);
				@Html.DisplayName("\n by selecting the Organization " + Model.OrganizationName);
				@Html.DisplayName("\n Thanks !!");
					}
					else if (Model.SelectedResource == GivingBack2.Models.ResourceTypes.Time)
					{
				@Html.DisplayName("You have booked your " + Model.SelectedResource.ToString());
				@Html.DisplayName("\n for helping the" + Model.SelectedCategoryName);
				@Html.DisplayName("\n by selecting the Organization " + Model.OrganizationName);
				@Html.DisplayName("\n and agreed to spend " + Model.HoursPerDate + " per day. Thanks !!");
					}
				}
			}
			<br/>
		<input type="submit" value="Home" />
		}
			</h4>
	</div>
</div>
